$fontSizeBadage: 9px;
$sideBarColor: #ff7b4a;
$colorWhite: #FFFFFF;
@import "icon.mk.css";
.hide {
  visibility: hidden;
  display: none;
}

%hover-tips {
  z-index: 20;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #aaaaaa, 1px -1px 2px #aaaaaa, -1px 1px 2px #aaaaaa, -1px -1px 2px #aaaaaa;
}

%gravity-center {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

%gravity-bottom {
  position: absolute;
  bottom: 0;
}

.fd-menu-uc {
  background: $sideBarColor;
  @extend %gravity-bottom;
  cursor: pointer;
  &:active {
    background: #ffa864;
  }
}
.main-header{
  z-index: 9001;
}
.main-sidebar {
  z-index: 9000;
}


.fred-global-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.sidebar-menu {
  margin-bottom: 45px;
}

body.fixed .fred-label-badage-sidebar {
  position: absolute;
  right: 12px;
  top: 10px;
  padding: 6px !important;
  font-size: $fontSizeBadage;
  border-radius: 10px;
}

body.fixed.sidebar-collapse .fred-label-badage-sidebar {
  position: absolute;
  right: 12px;
  top: 6px;
  padding: 2px !important;
  font-size: $fontSizeBadage;
  border-radius: 4px;
}

div.fred-note-item {
  background: $colorWhite;
  padding: 8px;
  margin-bottom: 18px;
  border-radius: 4px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.fred-img-spacing {
  margin-right: 12px;
}

ul.sidebar-menu {

  li {
    .fa {
      font-size: 18px;
      margin-left: -2px;
    }
    a {
      border-left-color: transparent !important;
    }
    &.active {
      .fa {
        color: $sideBarColor !important;
      }
      a {
        border-left-color: transparent !important;
      }
    }
  }
}

div.fred-head-icon {
  position: relative;
  cursor: pointer;
  img {
    position: absolute;
    top: 0;
    border-width: 2px;
    border-color: transparent !important;
  }
  input {
    display: none;
  }
  canvas {
    margin-top: -4px;
    margin-left: -4px;
  }
}

.fred-icon-gold {
  .fa {
    font-size: 14px;
    width: 20px;
    color: rgb(255, 144, 35) !important;
    text-shadow: rgba(255, 144, 35, .7) !important;
    border: 2px solid rgba(255, 144, 35, .9);
    padding: 2px !important;
    margin-bottom: 2px;
    margin-right: 2px;
    border-radius: 10px;
  }
  .fred-number-currency {
    color: #FF4444 !important;
  }
}

.fred-level {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 6px;
  .iconfont {
    color: $colorWhite;
  }
  .level-value {
    color: $colorWhite;
    font-size: 12px;
  }
  span.exp-hover-mask {
    position: absolute;
    right: 1px;
    width: 12em;
    background: $sideBarColor;
    @extend %hover-tips;
    small {
      display: block;
    }
    display: none;
  }
  &:hover {
    span.exp-hover-mask {
      display: block;
    }
  }
}

.single-line {
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.widget-user-header {
  padding-top: 8px !important;
}

footer.main-footer {
  position: relative;
}

div.pull-up-load {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: $colorWhite;
  padding-top: 16px;
  color: black;
  vertical-align: middle;
  visibility: hidden;
}
/*

@media screen and (max-width: 960px) {
  .fred-col2-auto
  {
    -moz-column-count:1;
    -webkit-column-count:1;
    column-count:1;
  }
}
@media screen and (min-width: 960px) {
  .fred-col2-auto
  {
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
    height: auto;
  }
}*/
